<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel=stylesheet href=/base.css>
  <link rel=stylesheet href=/list.css>
  {{ if eq .Title "Blogs" }}
    <title>2001Y.me｜2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログ</title>
    <meta property="og:title" content="2001Y.me｜2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログ" />
  {{ else }}
    <title>{{ .Title }}｜2001Y.me</title>
    <meta property="og:title" content="{{ .Title }}｜2001Y.me" />
  {{ end }}
  <meta name="robots" content="noindex,nofollow,noarchive">
  {{ partial "head.html" . }}
  <meta name="description" content="2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログです。"> 
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://2001y.me{{ .Permalink }}" />
  <meta property="og:description" content="2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログです。">
  <meta property="og:image" content="https://2001y.me/blog/tmb/{{ .Params.img }}.jpeg" />
  <script defer src=/cursor.min.js></script>
  <script defer src=/quicklink.min.js></script>
</head>
<body ontouchstart>
  <nav id=bar>
    <a href=/blog title="2001Y.me｜2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログ" class=logo><h1>2001Y Blog</h1></a>
    <a href=/ title="2001Y Portfolio">Portfolio</a>
    <a href=/contact title="2001Y Contact">Contact</a>
  </nav>
  <header>
    <a id=top href=/blog title="2001Y.me｜2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログ">&#xe904;</a>
    <form class=search-box>
        <input class=search type=search id="s" onkeyup="search(this.value)">
        <input class=submit type=submit value="&#xe901;">
    </form>
  </header>
  <nav id=categoryBox class={{ if .Params.categories }}{{ range .Params.categories }}{{ . }}{{ end }}{{ else }}top{{ end }}>
    <ul id=category>
      <li><a href=/blog/ class="category top">Top</a></li>
      <li><a href=/blog/gadget class="category Gadget" title=ガジェット｜2001Y.me>Gadget</a></li>
      <li><a href=/blog/camera class="category Camera" title=カメラ｜2001Y.me>Camera</a></li>
      <li><a href=/blog/web class="category Web" title=Web｜2001Y.me>Web</a></li>
      <li><a href=/blog/other class="category Other" title=その他｜2001Y.me>Other</a></li>
    </ul>
  </nav>
  <div id=searchResult></div>
  <main id=main>
    <h2>タグ： {{ .Title }}</h2>
    {{$indexScratch := newScratch}}
    {{$indexScratch.Set "articleList" .Pages}}
    {{ range .Sections.Reverse}}
      {{ $indexScratch.Add "articleList" .Pages}}
    {{ end }}
    {{ $paginator := .Paginate (where ($indexScratch.Get "articleList") "Type" "!=" "page").ByDate.Reverse }}
    {{ range $paginator.Pages}}
      <a href={{ .Permalink }} title="{{ .Title }}｜2001Y.me">
        <article class="post {{ if .Params.categories }}{{ range .Params.categories }}{{ . }}{{ end }}{{ end }}">
          <picture class=post-tmb>
            <source srcset="/img/{{ .Params.img }}-120.webp, /img/{{ .Params.img }}-240.webp 2x,/img/{{ .Params.img }}-360.webp 3x" type=image/webp>
            <img src=/img/{{ .Params.img }}-120.jpg srcset="/img/{{ .Params.img }}-240.jpg 2x,/img/{{ .Params.img }}-360.jpg 3x" alt="{{ .Title }}｜2001Y.me">
          </picture>
          <div class=post-data>
            <h2>{{ .Title }}</h2>
            <div class=post-meta>
              <time>{{ .Date.Format "2006/01/02" }}</time>・{{ if .Params.categories }}{{ range .Params.categories }}{{ . }}{{ end }}{{ end }}
            </div>
            <p>{{ .Content | plainify | truncate 50 }}</p>
          </div>
        </article>
      </a>
    {{ end }}
    {{ $indexScratch.Delete "articleList"}}
    {{ partial "pagenation.html" . }}
  </main>
  {{ if ne .Title "Blogs" }}
    <aside id=categoryAlert class="category {{ if .Params.categories }}{{ range .Params.categories }}{{ . }}{{ end }}{{ end }}">{{ if .Params.categories }}{{ range .Params.categories }}{{ . }}{{ end }}{{ end }}</aside>
  {{ end }}
  <footer>
    <ol id=breadcrumb>
      <li><a class=logo href=/ title="2001Y Portfolio"></a></li>
      <li><a href=/blog title="2001Y.me｜2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログ">Blog</a></li>
      {{ if .Params.categories }}<li><a href=/blog/{{ range .Params.categories }}{{ . }}{{ end }} title="2001Y.me｜2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログ">{{ range .Params.categories }}{{ . }}{{ end }}</a></li>{{ end }}
    </ol>
  {{ partial "footer.html" . }}
  <form class=search-box>
      <input class=search type=search id="s" onkeyup="search(this.value)">
      <input class=submit type=submit value="&#xe901;">
  </form>
</footer>
</body>
<div id="cursor"></div>
<svg style="height:0;width:0;position:fixed">
  <clipPath id="tmb" clipPathUnits="objectBoundingBox">
    <path d="M.8,.7c0,.15-.1,.3-.3,.3S.2,.85,.2,.7c0-.3,.3-.7,.3-.7S.8,.4,.8,.7z"/>
  </clipPath>
</svg>
{{ if not .Site.IsServer }}
  <script async>
    window.addEventListener('load', () =>{ quicklink.listen(); });
    (function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
    ;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
    ;c.parentNode.insertBefore(a,c)
    })(window,document,"galite","script","/ga-lite.min.js");
    galite('create', 'UA-68964193-14', 'auto');
    galite('send', 'pageview');
  </script>
{{ end }}
<script defer src="/data.min.js"></script>
<script defer src="/search.min.js"></script>
<script type=application/ld+json>
{
    "@context" : "http://schema.org",
    "@type" : "Article",
    "headline" : "{{ if eq .Title "Blogs" }}2001Y.me｜2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログ{{ else }}{{ .Title }}｜2001Y.me{{ end }}",
    "description": "2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログです。",
    "image": [
      "https://2001y.me/seo/1*1.png"
    ],
    "publisher" : {
        "@type" : "Person",
        "name" : "2001Y",
        "logo" : {
            "@type" : "ImageObject",
            "url" : "https://2001y.me/profile.jpg",
            "height" : 942,
            "width" : 942
        }
    },
    "author" : {
        "@type" : "Person",
        "name" : "2001Y"
    },
    "datePublished": {{ .Date.Format "2006/01/02" }},
    "dateModified": {{ .Lastmod.Format "2006/01/02" }},
    "mainEntityOfPage": {{ .Permalink | printf "https://2001y.me%s" }}
}
</script>
<script type=application/ld+json>
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "2001Y",
    "item": "https://2001y.me/"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "ブログ",
    "item": "https://2001y.me/blog/"
  }{{ if ne .Title "Blogs" }},{
    "@type": "ListItem",
    "position": 3,
    "name": "{{ .Title }}",
    "item": {{ .Permalink | printf "https://2001y.me%s" }}
  }{{ end }}]
}
</script>
<script type=application/ld+json>
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "http://2001y.me",
  "logo": "https://2001y.me/seo/1*1.png"
}
</script>
<script type=application/ld+json>
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "https://2001y.me",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://2001y.me/?s={query}",
    "query-input": "required name=query"
  }
}
</script>
</html>